<div class="container-fluid">
  <div class="row main-row">
    <div class="col-md-7 left-panel">
      <img class="middle" src="./assets/agmo-logo.png">
    </div>
    <div class="col-md-5 right-panel">

      <div class="login-panel">

        <div style="margin-bottom: 4rem">
          <h3>Hello,</h3>
          <h3>Welcome back</h3>
        </div>

        <div class="login-form">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="mb-5">
              <div class="form-group mb-4">
                <input autofocus type="email" placeholder="Username" formControlName="username" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  {{errorType(f.username.errors)}}
                  <div *ngIf="f.username.errors.required">Username is required</div>
                  <div *ngIf="f.username.errors.email">
                    Wrong email format 😤
                  </div>
                </div>
              </div>

              <div class="form-group mb-2">
                <input placeholder="Password" type="password" formControlName="password" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <!-- <div *ngIf="f.password.errors.minlength">
                    Password must be at least 6 characters long.
                  </div> -->
                </div>
              </div>

              <div class="row">
                <div class="col-6 text-left checkbox-div">
                  <mat-checkbox color="primary">Remember me</mat-checkbox>
                  <!-- <label><input type="checkbox" /> Remember me</label> -->
                </div>

                <div class="col-6 text-right">
                  <a style="color:black" href="" class="text-right btn-link">Forgot password?</a>
                </div>
              </div>
            </div>

            <div class="form-group">
              <button class="btn"
                style="color: white; background:black;     padding: 10px 20px 10px 20px; border-radius: 10px; font-size:1.2rem;">
                <span type="submit" *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Log In
              </button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>